<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.radar.radarshop"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:label="RadarShop"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RadarShop">

        <!-- Google Places API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCZi-TCd3WybWTGu0G1BOufNMuQhEzZzPY" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.RadarShop.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity android:name=".ShopActivity" android:exported="false"/>

        <activity android:name=".ProductDetailActivity" android:exported="false"/>
        <activity android:name=".WishlistActivity" android:exported="false"/>
        <activity android:name=".ReviewsActivity" android:exported="false"/>
        <activity android:name=".AuthActivity" android:exported="false"/>

        <activity android:name=".CartActivity" android:exported="false"/>
        <activity android:name=".CheckoutActivity" android:exported="false"/>
        <activity android:name=".OrdersActivity" android:exported="false"/>
        <activity android:name=".WriteReviewActivity" android:exported="false"/>
        <activity android:name=".ProfileActivity" android:exported="false"/>
    </application>
</manifest>
